/*ACTIVITY 3-4 P28*/
/*em means 2 times the size of the current font SIDENOTE:em is also better bc it gives a fixed indent rather than moving it by px.*/
body{background color:gray;}
p{color: #084D2F}
p.paddingleft{padding-left: 2em}
h2{color: #084D2F}
h2.paddingleft{padding-left:13em}
H3{color: #084D2F}
h3.paddingleft{padding-left:1em}
h4{color: #084D2F}
h3{line-height:10px;
	margin-top:20px;
	margin-bottom:10px;}
H6.paddingright{padding-right:2em}



/*FOOTER LEARNED FROM ONLINE TUTORIAL FROM w3sschools.com link from Activity 3-4*/

.footer{
	position:relative;
	bottom:0px;
	background:#084D2F;
	color: white;
	padding-top: 0px;
	text-align: right;
	margin-bottom: 0px;
	margin-top:0px;
	padding-bottom: 0px;
	padding-top: 0px;
	
}


/*table*/
td,th{
    border: 1px solid;
	margin: 40px;
color: #084D2F;}
}
